{:deps {cljfx/cljfx {:mvn/version "1.10.1"}
        cljfx/css {:mvn/version "1.1.0"}}
 :aliases {;; clj -T:build deploy
           :build {:deps {io.github.clojure/tools.build {:git/tag "v0.10.5" :git/sha "2a21b7a"}
                          clj-commons/pomegranate {:mvn/version "1.2.0"}}
                   :ns-default build}
           :dev {:extra-deps {enlive/enlive {:mvn/version "1.1.6"}}
                 :override-deps {cljfx/cljfx {:local/root "../cljfx"}}}}}
